.container {
    min-width: 800px;
    width: 100%;
    table-layout: fixed;
}

.container td {
    vertical-align: top;
    padding-bottom: 20px;
}

.container td:first-child {
    font-weight: 700;
}

.container th:first-child {
    font-weight: 700;
}

.header th {
    border-bottom: thin solid;
}

.header th:first-child {
    width: 200px;
}

.footer td {
    border-top: thin solid;
}