.intro {
  /* font-style: italic; */
  font-size: 24px;
  font-weight: 600;
  /* text-transform: uppercase; */
  font-family: "Futura", "Courier";
  letter-spacing: -2px;
  transform: scale(0.9,1);
}

.team {
  width: 50%;
}

.teamName {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Futura", "Courier";
  letter-spacing: -2px;
  transform: scale(0.9,1);
}

.vsSeparator {
  margin-left: "20px";
  margin-right: "20px";
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Futura", "Courier";
  letter-spacing: -2px;
  transform: scale(0.9,1);
}

.vsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.closingWords {
  font-size: 24px;
  font-weight: 600;
  /* text-transform: uppercase; */
  font-family: "Futura", "Courier";
  letter-spacing: -2px;
  transform: scale(0.9,1);
}
