.container {
    min-width: 800px;
    table-layout: fixed;
}

.container td {
    vertical-align: top;
    padding-bottom: 20px;
}

.container td:first-child {
    font-weight: 700;
}

.container th:first-child {
    font-weight: 700;
}

.header th {
    border-bottom: thin solid;
}

.header th:first-child {
    width: 200px;
}

.footer td {
    border-top: thin solid;
}

@media (min-width: 720px) {
    .sheetContainer {
        max-width: 800px;
        left: calc(50% - 400px) !important;
    }
}

.sheetContent {
    margin-left: 20px;
    margin-right: 20px;
}

.sheetContent h3 {
    margin-bottom: 0px;
}