.container {
    width: 730px;
    width: 100%;
    table-layout: fixed;
}

.header th {
    border-bottom: thin solid;
}

.header th:first-child {
    width: 50%;
}

.footer td {
    border-top: thin solid;
    font-weight: 700;
}

